{% extends 'bootstrap-base.html' %}

{% block title %}
{% if title %}{{ title }}{% else %}Ethnos Video Chat{% endif %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
<div class="container content">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block app_content %}{% endblock %}

  <footer>
    <div class="footer-left">
      <p><a href="/">Ethnos</a> | </p>
      <p>&copy; <span id="year"></span>
        <script>
          document.getElementById("year").innerHTML = new Date().getFullYear();
        </script> by Arnold Nderitu
      </p>
    </div>
    <div class="footer-right">
      <p><a href="https://gitlab.com/arnoldnderitu1/ethnos">Source code</a> | </p>
      <p><a href="https://gitlab.com/arnoldnderitu1/ethnos/-/wikis/Documentation/Welcome-to-Ethnos">Documentation</a> | </p>
      <p><a href="https://gitlab.com/arnoldnderitu1/ethnos/-/blob/master/LICENSE">License</a> | </p>
      <p><a href="https://gitlab.com/arnoldnderitu1/ethnos/-/issues">Report an issue</a> | </p>
      <p><a href="https://arnoldnderitu.com/contact/">Contact Me</a></p>
    </div>
  </footer>
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/icons.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}