{% extends "base.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block app_content %}

<div class="create-room-area">
  <div class="row">
    <div class="col-md-12 fade-in">
      <h1 class="headline">
        Ethnos
      </h1>
      <h2 class="sub-headline">
        Peer-to-peer<br/>
        group video chat.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="dialog slide-down" id="create-room-dialog">
        <h5>Create a room</h5>
        <form method="post" id="create-room-form">
          {{ create_room_form.csrf_token }}
          <div class="input-line">
            {{ create_room_form.room_name.label(hidden=True) }}
            {{ create_room_form.room_name() }}
            <input class="btn btn-secondary" id="submit" name="submit"
              type="submit" value="Go"
            >
          </div>
          <details>
            <summary>Advanced options</summary>
            <div class="input-line">
              {{ create_room_form.password.label() }}:
              {{ create_room_form.password() }}
              <button type="button" onclick="togglePasswordVisibility()">
                <i id="visibility-icon" class="material-icons">
                  visibility_off
                </i>
              </button>
            </div>
            <div class="input-line">
              {{ create_room_form.public.label() }}:
              {{ create_room_form.public() }}
            </div>
            <div class="input-line">
              {{ create_room_form.guest_limit.label }}:
              {{ create_room_form.guest_limit() }}
            </div>
          </details>
        </form>
        <div class="footer-link">
          <h6>
            &#8627;<a href="/public">Find a public room</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info-area" id="why-ethnos">
  <div class="row fade-in">
    <div class="col-md-3 info-box fade-in">
    </div>
    <div class="col-md-6 info-box fade-in">
      <h2 class="headline">Why Ethnos?</h2>
      <h4 class="sub-headline">
        Ethnos is a modern video chat application, relying on the latest
        standards and technologies.
      </h4>
    </div>
    <div class="col-md-3 info-box fade-in">
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 info-box fade-in">
      <i class="material-icons headline">stars</i>
      <h4 class="headline">Low latency, high quality audio and video</h4>
      <h5 class="sub-headline">
        Ethnos uses <a href="https://webrtc.org/">WebRTC</a>, the latest
        standard for audio and video streaming, to create direct
        browser-to-browser connections.
      </h5>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5 info-box fade-in">
      <i class="material-icons headline">extension</i>
      <h4 class="headline">
        Video controls, screen-sharing, text chat, and more
      </h4>
      <h5 class="sub-headline">
        Set your camera resolution, toggle fullscreen or picture-in-picture
        mode, share your desktop, and send text messages.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 info-box fade-in">
      <i class="material-icons headline">visibility_off</i>
      <h4 class="headline">No ads, no trackers</h4>
      <h5 class="sub-headline">
        Ethnos <a href="https://themarkup.org/blacklight?url=ethnos.chat">
          will not track you
        </a>, pester you with annoying ads, or give away
        your personal data.
      </h5>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5 info-box fade-in">
      <i class="material-icons headline">groups</i>
      <h4 class="headline">Users are in control</h4>
      <h5 class="sub-headline">
        Ethnos is, and always will be,
        <a href="https://gitlab.com/arnoldnderitu1/ethnos">
          100% open-source software</a>. You can even
        <a href="https://gitlab.com/arnoldnderitu1/ethnos/-/wikis/Documentation/Deployment">
          deploy your own server.
        </a>
      </h5>
    </div>
  </div>
</div>
<script>
  function togglePasswordVisibility() {
    const pwInput = document.getElementById('password');
    const visibilityIcon = document.getElementById('visibility-icon');
    if (pwInput.type === 'password') {
      pwInput.type = 'text';
      visibilityIcon.innerHTML = 'visibility';
    } else {
      pwInput.type = 'password';
      visibilityIcon.innerHTML = 'visibility_off';
    }
  }
</script>

{% endblock %}
